.container {
  padding: var(--spacing-md);
}

.header {
  font-size: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
  text-align: center;
}

.form {
  border: var(--bdr-pink);
  padding: var(--spacing-md);
  border-radius: var(--bdr-rad);
  margin: var(--spacing-md) 5vw;
}

.input {
  display: block;
  margin-bottom: var(--spacing-md);
  width: 40rem;
}

.textarea {
  width: 100%;
  height: 12rem;
  border: var(--bdr-light);
  padding: var(--spacing-sm);
  border-radius: var(--bdr-rad);
  margin-bottom: var(--spacing-md);
  outline: none
}

.spec {
  display: flex;
}

.spec input {
  
  flex: 1;
  margin-right: var(--spacing-sm);
}

.spec button {
  width: max-content;
}

.save {
  width: max-content;
}

.specificationList {
  list-style: none;
  margin: var(--spacing-sm) 0;
}

.listItem {
  font-size: var(--font-sm);
  display: flex;
  align-items: center;
  border: var(--bdr-light);
  padding: .5rem var(--spacing-sm);
  border-radius: var(--bdr-rad);
}

.listItem:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.listItem span {
  margin-left: auto;
  margin-right: 0;
}

.weight, .dimensions {
  display: flex;
  align-items: flex-end;
}

.weight select {
  flex: 1;
  margin-left: var(--spacing-sm);
}

.weight div {
  flex: 1;
}

.inputWeight {
  width: 100%
}

.dimensions * {
  flex: 1;
}

.dimensions div:not(:last-child) {
  margin-right: var(--spacing-sm);
}

.dimensions div input {
  width: 100%;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .form {
    margin: 0;
  }

  .input {
    width: 100%;
  }

  .spec {
    flex-direction: column;
  }

  .spec input {
    padding: .8rem;
    margin-right: 0;
    margin-bottom: var(--spacing-sm);
  }

  .dimensions {
    flex-direction: column;
    align-items: flex-start;
  }

  .flexContainer {
    justify-content: flex-start;
  }
}