.container {
  display: flex;
  align-items: center;
  height: 8vh;
  border-bottom: var(--bdr-light);
  padding: 0 var(--spacing-sm);
}

.input {
  flex: 1;
  margin-right: var(--spacing-sm);
}

.btnMargin {
  margin-left: var(--spacing-sm);
}