.container {
  height: 65vh;
  width: 100%;
}

.container img {
  object-fit: contain;
  object-position: center 2.4rem;
}

@media screen and (max-width: 600px) {
  .container {
    height: 45vh;
  }
}