.container {
  display: flex;
  font-size: var(--font-md);
  justify-content: space-between;
  padding: var(--spacing-lg);
  background-color: var(--charcoal);
}

.links {
  list-style: none;
}

.links li, .copyright{
  color: var(--brown);
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .links {
    margin-bottom: var(--spacing-sm)
  }
}