.listItem {
  margin: var(--spacing-md);
  border: var(--bdr-pink);
}

.header {
  padding: var(--spacing-sm);
  background-color: var(--pink);
  color: var(--white);
  font-size: var(--font-md);
  display: flex;
  justify-content: space-between;
}

.address {
  margin: var(--spacing-md);
  font-size: var(--font-sm);
  list-style: none;
}

.address li:not(:last-child) {
  margin-bottom: .5rem;
}

.recipient, .footer {
  padding: var(--spacing-sm);
  font-size: var(--font-sm);
  border-top: var(--bdr-light);
  display: flex;
  align-items: center;
}

.footer span:not(:last-child) {
  margin-right: var(--spacing-lg);
  margin-left: auto; 
}

.footer button {
  margin-right: var(--spacing-lg);
}

.recipient span:not(:last-child) {
  margin-right: var(--spacing-lg);
}

@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header span:not(:last-child) {
    margin-bottom: .8rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-sm);
  }

  .footer button {
    width: 100%;
  }
}