.select {
  display: flex;
  height: 7vh;
  margin-right: var(--spacing-md);
  margin-left: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.select span {
  flex: 1;
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--bdr-pink);
}

.selected {
  background-color: var(--pink);
  color: var(--white);
}