.select {
  display: flex;
  height: 6vh;
  border-bottom: var(--bdr-pink);
}

.select span {
  flex: 1;
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: var(--pink);
  color: var(--grey);
}