.select {
  display: flex;
  height: 5rem;
  margin-right: var(--spacing-md);
  margin-left: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.select button {
  flex: 1;
  height: 100%;
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--bdr-pink);
  background-color: transparent;
  color: var(--pink);
  border-radius: 0;
}

.selected {
  background-color: var(--pink) !important;
  color: var(--white) !important;
}