/*Global styles and variables*/

:root {
  /*color*/
  --pink: #f76ab3;
  --grey: grey;
  --red: red;
  --blue: lightblue;
  --white: white;
  --light-grey: lightgrey;
  --golden: #fc8803;
  --light-gold: #f7f5e1;
  --charcoal: #262625;
  --brown:#61584a;
  --light-purple: #f9f5ff;

  /*fonts*/
  --font-sm: 1.7rem;
  --font-md: 2.2rem;
  --font-lg: 3rem;

  /*spacing*/
  --spacing-sm: 1.2rem;
  --spacing-md: 2.2rem;
  --spacing-lg: 3rem;

  /*border*/
  --bdr-light: solid 1px var(--light-grey);
  --bdr-pink: solid 1.5px var(--pink);
  --bdr-rad: 1rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

@media screen and (max-width: 850px) {
  html {
    font-size: 54%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 48%;
  }
}


/*stripe styles*/
.StripeElement {
  padding: var(--spacing-sm);
  width: 100%;
  color: #32325d;
  background-color: white;
  border: var(--bdr-light);
  border-radius: var(--bdr-rad);

}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

a,
a:visited,
.default-link,
.default-link:visited {
  font-size: var(--font-sm);
  text-decoration: none;
  color: var(--grey);
  transition: all .2s;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
  margin-right: var(--spacing-md);
}

default-link:hover, a:hover {
  color: var(--pink);
}

default-link:active, a:active{
  color: red;
}

input, select {
  border-radius: var(--bdr-rad);
  border: var(--bdr-light);
  height: 3.5rem;
  outline: none;
  padding-left: var(--spacing-sm);
  background-color: transparent;
}

input:focus {
  border: var(--bdr-pink);
}

.primary-btn, button {
  padding: 0 var(--spacing-sm);
  height: 3.5rem;
  border: none;
  border-radius: var(--bdr-rad);
  outline: none;
  background-color: var(--pink);
  color: var(--white);
}

.primary-btn:hover, button:hover {
  background-color: var(--golden);
}

img {
  object-fit: cover;
  display:block;
  height: 100%;
  width: 100%;
}

p {
  line-height: 150%;
  word-spacing: 3px;
  white-space: pre-line;
  overflow: hidden;
}

.active {
  color: var(--pink) !important;
}

label {
  font-size: var(--spacing-sm);
  margin-bottom: .7rem;
  display: block;
}

.heading {
  font-size: var(--font-md);
  background-color: var(--golden);
  padding: var(--spacing-sm);
  color: var(--white);
}

.disabled {
  background-color: var(--light-grey);
}



